# List Comprehensions

In [1]:
num=[1,2,3,4]

[x*10 for x in num]

[10, 20, 30, 40]

## Looping vs List comprehensions

### Looping

In [2]:
num=[1,2,3,4,5]
double_num=[]
for i in num:
    double=i*2
    double_num.append(double)

In [3]:
double_num

[2, 4, 6, 8, 10]

### List Comprehensions

In [4]:
num=[1,2,3,4,5]
double_num=[i*2 for i in num]
print(double_num)

[2, 4, 6, 8, 10]

In [6]:
name="Rishav"
[let.upper() for let in name]

['R', 'I', 'S', 'H', 'A', 'V']

In [9]:
friends=["Rishav","Aniket","Pretam","Swarnav"]
[friend[0].upper() for friend in friends]

['R', 'A', 'P', 'S']

In [10]:
[num*10 for num in range(1,16)]

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150]

In [14]:
[bool(val) for val in [0,[],'']]

[False, False, False]

In [15]:
nums=[1,2,3,4,56]
[str(num) for num in nums ]

['1', '2', '3', '4', '56']

## List comprehensions with conditional logic

In [1]:
num=[10,11,12,13,14,15,16,17,18,19,20]
even=[x for x in num if x%2==0]
odd=[x for x in num if x%2!=0]

In [2]:
even

[10, 12, 14, 16, 18, 20]

In [3]:
odd

[11, 13, 15, 17, 19]

In [4]:
[x*2 if x%2==0 else x/2 for x in num]

[20, 5.5, 24, 6.5, 28, 7.5, 32, 8.5, 36, 9.5, 40]

In [6]:
with_vowels="this is so much fun"
' '.join(char for char in with_vowels if char not in 'aeiou')

't h s   s   s   m c h   f n'