# Functions part 1

In [1]:
def basic():
    print("Hello World")
basic()

Hello World

In [5]:
def seven_square():
   return 7**2

In [6]:
seven_square()

49

In [7]:
import random
def toss_coin():
    num=random.randint(0,1)
    if num==0:
        return 'heads'
    elif num==1:
        return 'tails'

In [8]:
toss_coin()

'tails'

## Function with parameters

In [12]:
def square(n):
    return n*n
square(2)

4

In [13]:
square(4)

16

In [14]:
print(square(5))

25

In [16]:
def sing(name):
    print(f"Happy bithday to dear {name}")
sing("Rishav")

Happy bithday to dear Rishav

In [17]:
sing("Arpita")

Happy bithday to dear Arpita

In [18]:
def add(a,b):
    return a+b
add(5,6)

11

In [20]:
add(100,328)

428

In [21]:
def multiply(a,b):
    return a*b
multiply(5,9)

45

In [22]:
def name(first_name,last_name):
    return(f"Your name is {first_name} {last_name}")

In [23]:
name("Rishav","Saha")

'Your name is Rishav Saha'

In [27]:
def sum_odd_num(numbers):
    total=0
    for i in numbers:
        if i%2!=0:
           total+=i
    return total

In [28]:
sum_odd_num([1,2,3,4,5,6,7])

16

In [29]:
def is_odd_num(number):
    if number%2!=0:
        return True
    else:
        return False

In [30]:
is_odd_num(5)

True

## Default parameters

In [33]:
def exponent(num,power=2):
    return num**power
exponent(5,2)

25

In [34]:
exponent(7)

49

In [35]:
def add(a=10,b=20):
    return a+b
add()

30

In [36]:
add(5,6)

11

In [37]:
def add(a,b):
    return a+b
def sub(a,b):
    return a-b
def math(a,b,fn=add):
    return fn(a,b)
math(5,6)

11

In [38]:
math(82,65,sub)

17

## Keyword Arguments

In [39]:
def name(f_name,l_name):
    return(f"Your name is {f_name} {l_name}")
name('Rishav','Saha')

'Your name is Rishav Saha'

In [40]:
name(l_name='Saha',f_name='Rishav')

'Your name is Rishav Saha'

In [41]:
def exponent(num,power=2):
    return num**power
exponent(power=5,num=2)

32

## Scope

In [42]:
# A function defined inside a function is avaiable to that function

In [43]:
instructor= 'Rishav' # described outside a function thus is a global variable
def say_hello():
    return(f"say hello {instructor}")
say_hello()

'say hello Rishav'

In [50]:
def say_hello1(): # causing error because variable is defned using function
    instructor1='hello world'
    return(f"say hello {instructor1}")
say_hello1()
print(instructor1)

NameError: name 'instructor1' is not defined

In [54]:
total=0
def increment():
    global total # referring to global varibale total declared oytside the function
    total=total+1
    return total
increment()

1

In [56]:
def outer():
    count=0
    def inner():
        nonlocal count
        count+=1
        return count
    return inner()
outer()

1

In [58]:
def hello():
    """Simple function to print hello"""
    print(hello)

print(hello.__doc__)

Simple function to print hello