# Any and All

### All

#### Returns True if all the iterable items are truthy and if it is empty

In [1]:
all([char for char in 'eio' if char in 'aeiou'])

True

In [2]:
[num for num in [4,2,10,6,8] if num%2==0]

[4, 2, 10, 6, 8]

In [3]:
all([num for num in [4,2,10,6,8] if num%2==0])

True

In [4]:
people=['Charley','Caesy','Cody','Carly','Cristina']
all([names for names in people if names[0]=='C'])

True

### Any

#### Returns True if all the iterable items are truthy and returns false if it is empty

In [6]:
num=[2,6,8,10,16,22]

any([n for n in num if n%2==0])

True

In [9]:
any([n for n in num if n%2==2])

False