# Lambdas

In [1]:
# Normal function
def square(num):
    return num*num
square(7)

49

In [3]:
# Using lambda
square2=lambda num:num*num

print(square2(7))

49

#### Lambda is basically an anonymous function

In [5]:
add=lambda a,b:a+b
print(add(5,6))

11

In [6]:
mul=lambda a,b:a*b
print(mul(9,8))

72

## Map

#### It is a standard function that accepts two arguments a function and an iterable where the function is generally a lambda function and the iterable is a generally a list,dict,sets etc

In [18]:
nums=[1,2,3,4,5]
#[i*2 for i in nums]
doubles=map(lambda x:x*2,nums)

In [19]:
list(doubles)

[2, 4, 6, 8, 10]

In [29]:
people=['rishav','arpita','pretam']
peeps=list(map(lambda i:i.upper(),people))

In [30]:
peeps

['RISHAV', 'ARPITA', 'PRETAM']

In [39]:
names=[
    {'first':'Rishav','second':'Saha'},
    {'first':'Arpita','second':'Mitra'},
    {'first':'Pretam','second':'Chandra'}
]
for i in names:
    print(i['first'])

Rishav
Arpita
Pretam

In [35]:
first_names=list(map(lambda x:x['first'],names))

In [36]:
first_names

['Rishav', 'Arpita', 'Pretam']

## Filter

In [41]:
nums=[1,2,3,4,5,6,7,8]
#filters out the number which does not satisfy the condition
list(filter(lambda x:x%2==0,nums))

[2, 4, 6, 8]

In [42]:
names=['austin','penny','anthony','angel','binny']

In [43]:
names

['austin', 'penny', 'anthony', 'angel', 'binny']

In [44]:
list(filter(lambda f:f[0]=='a',names))

['austin', 'anthony', 'angel']

In [46]:
users=[
    {"username":'Rishav',"tweets":["I love India","I love cake"]},
    {"username":'Arpita',"tweets":[]},
    {"username":'Pretam',"tweets":["I love cricket"]},
    {"username":'Swarnav',"tweets":[]}
]

In [47]:
list(filter(lambda i:i['tweets']==[],users))

[{'username': 'Arpita', 'tweets': []}, {'username': 'Swarnav', 'tweets': []}]

In [50]:
 inactive_users=list(filter(lambda x:len(x['tweets'])==0,users))

In [51]:
inactive_users

[{'username': 'Arpita', 'tweets': []}, {'username': 'Swarnav', 'tweets': []}]

In [53]:
list(filter(lambda i:i['tweets'],users)) #gives the oposite

[{'username': 'Rishav', 'tweets': ['I love India', 'I love cake']},
 {'username': 'Pretam', 'tweets': ['I love cricket']}]

In [55]:
list(filter(lambda i: not i['tweets'],users))

[{'username': 'Arpita', 'tweets': []}, {'username': 'Swarnav', 'tweets': []}]

# Filter + Maps

In [56]:
#We have a list of names and we need to include only those whose characters are less than 5

In [69]:
names=['Rishav','Arpita','Soham','Pretam','Swarnava','Cho']
valid_names=map(lambda name: f"Your name is {name}",
               filter(lambda x:len(x)<=5,names))

In [70]:
list(valid_names)

['Your name is Soham', 'Your name is Cho']