In [4]:
num={
    'first':1,
    'second':2,
    'third':3
}
square={key:value**2 for key,value in num.items()}
square

{'first': 1, 'second': 4, 'third': 9}

In [6]:
num1={i:i**2 for i in [2,3,4,5,6]}

In [7]:
num1

{2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [9]:
str1='abc'
str2='123'
combo={str1[i]:str2[i] for i in range(0,len(str1))}
combo

{'a': '1', 'b': '2', 'c': '3'}

In [12]:
me={
    "name":"rishav",
    "city":'Kolkata',
    "love":"arpita"
}
new_me={k.upper():v.upper() for k,v in me.items()}

In [13]:
new_me

{'NAME': 'RISHAV', 'CITY': 'KOLKATA', 'LOVE': 'ARPITA'}

In [14]:
num_list=[1,2,3,4]
{num:("even" if num%2==0 else "odd") for num in num_list}

{1: 'odd', 2: 'even', 3: 'odd', 4: 'even'}

In [17]:
me={
    "name":"rishav",
    "city":'Kolkata',
    "love":"arpita",
    "age":17
}
new_me={(k.upper() if k is str else k):(v.upper() if v is str else v) for k,v in me.items()}

In [18]:
new_me

{'name': 'rishav', 'city': 'Kolkata', 'love': 'arpita', 'age': 17}

In [19]:
person = [["name", "Jared"], ["job", "Musician"], ["city", "Bern"]]
answer = {k:v for k,v in person}

In [20]:
answer

{'name': 'Jared', 'job': 'Musician', 'city': 'Bern'}